::-webkit-scrollbar {
  width: .6em;
  height: .2em;
}
::-webkit-scrollbar-thumb {
  background: grey;
}
::-webkit-scrollbar-track {
  background: #0D0D0D;
}


html,body {
  width: 100%;
  height: 100%;
  font-size: 30px;
}

@font-face {
  font-family: Helvetica;
  src: url("font/Helvetica-Neue-Bold_22498.ttf");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  background-color: grey;
}

#step1{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 80vw;
  height : 80vh;
}

#black {
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/BlackCard.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hidden {
  display: none!important;
}

.visible{
  display:flex!important;
}


#black2{
  width: 80vw;
  height: 50vh;
  padding: auto;
  text-align: center;
  vertical-align: middle;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/BlackCard.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#whites {
  height: 50vh;
  width: 100vw;
  margin: 1vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: wrap;
}

.conteneur {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
}


#step2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
  width: 100vw;
  height : 100vh;
  padding-top: 1vh;
}

.white{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 100%;
  margin: 1vw;
  padding-top: 0;
  text-align: center;
  vertical-align: middle;
  color: black;
  text-align: center;
  align-content: center;
  background-image: url("images/WhiteCards.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.target{
  box-shadow: red 0 0 20px;
}

#step3 {
  flex-direction: row;
  height: 100%;
  width: 100%;
}
#black3 {
  flex: 1;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/BlackCard.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#white3 {
  flex: 1;
  text-align: center;
  align-content: center;
  vertical-align: middle;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/WhiteCards.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
