
html,body {
  width: 100%;
  height: 100%;
}

body{
    margin : 0;
    overflow: hidden;

}

header
{
	background-color : #222222;
	color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border: 0;
  margin: 0;
  padding:0;
}

#title
{
    display: flex;
    flex-direction: column;

}

#title h1
{

    margin-bottom: 0;
    margin-top: 0;
    font-size: 3.0em;

}

#title h3
{

    margin-bottom: 100px;
    margin-top: 0;
    font-size: 1.5em;

}

section
{
    display: flex;
    margin-bottom: 20px;

}

article
{
    margin-right: 30px;
    flex: 3;
    margin-left: 1vw;
    text-align: justify;
    margin-bottom: 0px;
}
article p
{
    font-size: 1.8em;
}

article h1{
    font-size: 2.0em;
}

.bplay {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: whitesmoke;
    border-radius: 10px;
    background-color: black;
    margin-left: 50px;
    margin-top: 125px;
}

.bplay:hover {
    background-color:black;

}

.bplay:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

aside
{
    flex: 1.2;
    position: relative;
    padding: 10px;
}

footer
{
	background-color : #222222;
  width: 100%;
  position: absolute;
  color: white;
  margin: 0;
  text-align: center;
}

footer p{
    margin: 0;
    padding-bottom: 0;
}

@media (max-width:900px) {

  body {
    overflow-y: scroll;
  }


}
