html,body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }


  body{
      margin : 0;
      overflow-y: hidden;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: black;
  }

@font-face {
  font-family: Helvetica;
  src: url("font/Helvetica-Neue-Bold_22498.ttf");
}


  .white{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("images/WhiteCards.jpg");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: white;
    align-items: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 1vh;
    width: 30vw;
    height: 48vh;
  }

  div img{
      width: 20vw;
      height: 80vh;
  }

#fullscreenprompt{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 3em;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#state{
    position: fixed;
    top: 0;
    right: 0;
    color: red;
}
